

 /* Global Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styling */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #d5e1ef; 
    padding: 1rem;
    text-align: center; 
}


/* QR Box Styling */
.qr-box {
    display: grid;
    place-items: center;
    max-width: 30rem;
    margin: 2rem;
    padding: 0.8rem;
    border: 1px solid #a9a7a7;
    border-radius: 16px;
    background-color: #ffffff;
    box-shadow: 2px 2px 2px 2px #d2cfcf;
}

/* Image Styling */
.img-of-qr-code {
    display: block;
    max-width: 100%;
    border-radius: 0.25rem; 
}

/* Text Styling */
.card-header,
.card-desc {
    margin: 10px;
    font-family: 'Outfit',sans-serif;
}

.card-header{
    font-weight: bold; 
}

.card-desc{
    color: #555; 
}
