

 /* Global Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styling */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #d5e1ef; 
    padding: 1rem;
    text-align: center; 
}


/* QR Box Styling */
.qr-card {
    display: grid;
    place-items: center;
    border: 1px solid #a9a7a7;
    border-radius: 16px;
    background-color: #ffffff;
    box-shadow: 2px 2px 2px 2px #d2cfcf;

    /* new property*/
    max-width: 20rem;
    margin: 1rem;
    padding: 1rem;
}

/* Image Styling */
.img-of-qr-code {
    display: block;
    max-width: 90%;
}

/* Text Styling */
.card-header,
.card-desc {
    margin: 10px;
    font-family: 'Outfit',sans-serif;
}

.card-header{
    font-size: 1.5rem;
    font-weight: 700;
}

.card-desc{
    color: #555; 
    font-size: 1rem; 
    color: #888;
}
